:host {
  display: block;
  min-height: 100vh;
  background: white;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
