<div class="loader">
  <div class="bg">
    <img src="assets/svg/g14.svg" alt="Background shape" class="bg-shape top" />
    <img src="assets/svg/g72.svg" alt="Background shape" class="bg-shape bottom" />
  </div>

  <div class="content">
    <div class="text">
      <p class="subtitle">O jeito moderno de gerenciar o que você ama comprar</p>
      <h1 class="title">Compritcha</h1>
    </div>

    <div class="cart-wrapper" id="cart">
      <img src="assets/svg/7587164 1.svg" alt="Carrinho Compritcha" class="cart" />
    </div>
  </div>

  <div class="purple-bar"></div>
</div>
